{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "react-native/react-native": true,
    "browser": true,
    "es6": true
  },
  "plugins": ["react", "react-native", "import", "jsx-a11y"]
}
